.title-block{
    display:flex;
    align-items: center;
    max-width: 1180px;
    justify-content: space-between;
    margin:0 auto;
    
  }
  
  
  .section-one {
      max-width: 1180px;
      margin: 20px auto;
    } 
    
    img {
      width: 164px;
      height: 122px; 
    }
    
    .cloud-image-container {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      gap: 18.5px;
    } 
    .image-wrapper{
      width: 275px; 
      border: 2px solid black;
       border-radius: 50px; 
       text-align: center;
    }
    
    
    .image-wrap {
      object-fit: contain;
      /* border: 2px solid black; */
      /* border-radius: 50px; */
     max-height:  45px;
      /* width: 240px; */
      width: auto;
     
      /* margin-bottom:-7px; */
      /* margin-left: 4.2px; */
    }
    
    .space {
      background: white;
      width: 1rem;
    }
    
    .cloud {
      background-color: black;
      color: #fff;
    }
     
    .aws-cloud, .google-cloud , .azure-cloud{
      border-top-left-radius: 50px;
      border-bottom-left-radius: 50px;
      padding: 13px 0 13px 25px;
    }
    
    .ram {
      border-top-right-radius: 50px;
      border-bottom-right-radius: 50px;
      width: 110px;
      vertical-align:middle;
    }
    
    .aws, .azure-vm , .google-vm {
      width: 161px;
    }
    
    .data-row-one,.data-row-two {
      vertical-align: middle;
    }
    
    .data-row-one {
      padding: 10px 0 10px 65px;
    }
    
    .data-row-two {
      padding: 10px 0 10px 35px;
    }
    
    .type {
      padding: 15px 0;
      width: 165px;
      text-align: left;
    }
    
    /* Table Two */ 
    
    .section-two {
      margin: 50px 0;
    }
    
    .grid {
      display: grid;
      align-items: center;
      grid-row-gap: 10px;
      text-align: center;
      margin-left:10px;
    }
    
    .header-container, .second-header-container {
      gap: 2px;
    }
    
    .header-container, .main-container {
      grid-template-columns: repeat(5,145px);
    } 
    
    .second-header-container , .second-main-container {
      grid-template-columns: repeat(3,145px);
    }
    
    .second-main-container {
      max-width: 410px;
    }
    
    .main-container , .second-main-container {
      border-radius: 5px;
    }
    
    .black,.orange {
      padding: 13px 20px 13px 0;
      gap: 3px;
    }
    
    .azure-only {
      border-top-left-radius: 50px;
      border-bottom-left-radius: 50px;
      margin-left:10px;
    }
    
    .google {
      border-top-right-radius: 50px;
      border-bottom-right-radius: 50px;
    }
    
    .pad {
      padding: 10px 0;
    }
    
    .second-container {
      grid-template-columns: repeat(3,150px);
    }
    
    .cloud-container {
      display: flex;
      max-width: 1220px;
      margin: 0 auto;
    }
    
    .cloud-container > * {
      flex: 1;
    }
    
    
    .pricing-container {
      border: 2px solid orange;
      border-radius: 50px;
      max-width: 425px;
      margin-left: 762px;
      padding-top: 20px;
      text-align: center;
    }
    
    .pricing {
      position: relative;
      bottom: 6px;
    }
    
    .pricing, .heading {
      font-size: 18px;
      font-weight: 600;
    }
    
    .orange {
      background-color: orange;
      color: #fff;
    }
    
    .first-row {
      padding: 12px 0 12px 20px;
    }

    .gcloud {
      padding: 20px 0 0 0;
    }
    
    .cloud-data:nth-child(even) , .even, .cloud-data-of-second-third:nth-child(odd) {
      background-color: lightgray;
    } 
    
    
    .even-first, .border-rad-first {
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
    } 
    
    .even-last , .border-rad-last {
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      min-height: 100%;
    }
    
    .app-row {
      text-align: left;
      padding-left: 15px;
      padding-right:15px;
      width: 120px;
    }
    .grid-app-row{
      text-align: left;
      padding-left: 15px;
      padding-right:50px;
      width: 120px;
  
    }
    
    .grid-type {
      padding-right: 30px;
      text-align: left;
      width: 180px;
    }
    
    .description {
      background-color: orange;
      color: #fff;
      border: 1px solid ;
      border-radius: 50px;
      margin: 40px auto;
      padding: 10px 15px;
      margin-left: auto;
      text-align: center;
      width: 50%;
      
    }
    
    .logo {
      display: flex;
      justify-content: flex-end;
      max-width: 1160px;
      margin: 0 auto;
    }
    
    .logo-image {
      object-fit: cover;
      width: auto;
    }
    .footer{
      display:flex;
      justify-content: center;
      
      
    }
    .pdf-content{
      width:fit-content;
      margin : 0 auto
    }