<div class="page-content">
  <div class = "page-top">
      <div >
        <h2>
          Welcome To The Multi-Cloud Era
        </h2>              
      </div>
    
    <div>
      <img src="https://user-images.githubusercontent.com/67311615/183863925-121b4cea-83cc-476b-8d01-a2307133ce6f.png" alt="">
    </div>
  </div>
  <div class="body">
    <div class="image">
      <img src="https://user-images.githubusercontent.com/67311615/183866817-4a0e117e-ca66-4ab7-88d6-59a3f44b72f1.png" alt="">
    </div>
    <div class="description">
      <p>
        Multi-cloud strategies have become widely accepted by enterprises,
         but the challenge is to maximise its potential in their operations.
          More and more enterprises have opted for multi0-cloud to avoid vendor 
          lock-in and take advantage of best-of-breed solutions.
      </p>
      <p>
        <strong>
          Some key factors when calculating cloud ROI include:
        </strong>
      </p>
      
        <ul class="description-content">
          <li><p>
            Productivity. If cloud adoption enables the business to meet peak demands 
            rapidly productivity can be enhanced and opportunities gained that might have
             been lost without cloud scalability
          </p></li>
          <li><p>
            Leverage. A single cloud platform such as AWS or Azure can provide the organization 
            with the basic infrastructure to manage many applications. The virtualized nature of 
            cloud services enables resource sharing of VMs and storage pools between multiple departments,
             and a cloud providers multi-tenancy offers economies of scale that can make cloud services less
              expensive than on-premises servers and storage for many organizations.
          </p></li>
          <li><p>
            Pay as you go. By eliminating capital expenditures, organizations pay for only those cloud services 
            actually used in a give time period. There is no need to pre-pay for infrastructure necessary to meet 
            peak demands UNTIL those peaks occur, and then organizations only need pay for increased capacity when 
            it is needed. The same is true of software licenses; only pay for those you need when you need them.
          </p></li>
          <li><p>
            Provisioning time. Since procuring and deploying new infrastructure in the cloud is virtually instantaneous,
             new projects can be launched immediately rather than waiting for hardware to be ordered, configured, shipped,
              and installed. This also has a strong impact on time to value since work can begin immediately upon project approval
          </p></li>
        </ul>
      
    </div>
  </div>
</div>

<div class="footer-container">
  <div class="form-group">
    <!-- <label  for="file"></label> -->
    <input class ="file" type="file"
           id="file"
           (change)="changeListener($event)">
  
    </div>
    <div class="pricng-btn ">
      <button class = "pr-button" (click)="pricing()">
        Generate Multi-Cloud ROI
      </button>
    </div>
</div>

  




  